astropy # -
ephem # -
future # not needed using python 3.10
h5py # -
html # deprecated / does not work
ipython # -
matplotlib #  -
networkx # -
numpy # -
pandas # -
pyfits # does not work / deprecated
pynfft # deprecated use somethine else
requests # -
scipy # -
scikit-image # -
